RewriteBase /
php_value magic_quotes_gpc off
php_value magic_quotes_runtime off 

php_value auto_prepend_file none
php_value auto_append_file none

SetEnv DOC_ROOT "/Users/tjnickerson/Documents/eDart/Active Source/edart"
 