/*
 * Description: Stylesheet to use all buttons system-wide
 * Last Updated: 6/11/2014
 * Signature: Tyler Nickerson
 * Copyright 2014 eDart
 *
 * [Do not remove this header. One MUST be included at the start of every page/script]
 *
 */

/* All green buttons */
.gbtn 			{ background-color:#2ecc71; border:1px solid #14B696; display:inline-block; color:#ffffff; font-family:Trebuchet MS, Sans; font-size:20px; font-weight:bold; outline:none; cursor:pointer; padding:6px 24px; text-decoration:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; transition:0.5s; -webkit-transition:0.5s; -moz-transition:0.5s; behavior: url('/lib/pie/PIE.htc'); }
.gbtn:hover 	{ background-color:#00BA3E; transition:0.5s; -moz-transition:0.5s; -webkit-transition:0.5s; }
.gbtn:active 	{ position:relative; top:1px; }
.gbtn:disabled 	{ background:#83C59F !important; }

/* BIG blue buttons */
.bbtnb 			{ background-color:#2583fe; border:1px solid #5c7dff; display:inline-block; cursor:pointer; color:#ffffff; font-family:Trebuchet MS; font-size:20px; font-weight:bold; outline:none; padding:6px 24px; text-decoration:none; behavior: url('/lib/pie/PIE.htc'); }
.bbtnb:hover 	{ background-color:#6babff; }
.bbtnb:active 	{ position:relative; top:1px; }

/* Regular blue buttons */
.bbtn 			{ background-color:#3163BA; border:1px solid #5c7dff; display:inline-block; cursor:pointer; color:#ffffff; font-family:Trebuchet MS; font-size:15px; font-weight:bold; outline:none; padding:6px 24px; text-decoration:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; transition:0.5s; -moz-transition:0.5s; -webkit-transition:0.5s; behavior: url('/lib/pie/PIE.htc'); }
.bbtn:hover 	{ background-color:#4392D7; transition:0.5s; -moz-transition:0.5s; -webkit-transition:0.5s; }
.bbtn:active 	{ position:relative; top:1px; }
.bbtn:disabled 	{ background:#7697AC !important; border:1px solid #618299; }

/* The "Return to Feed/Home" button */
.backbtn 																	 { background: #4bea8f; border: solid #33cb73; border-width: 1px 1px 1px 0; -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; display: inline-block; height: 28px; line-height: 28px; margin-left: 30px; margin-right: 2px; margin-top:14px; padding: 0 7px 0 3px; position: relative; text-decoration: none; color:white; text-align: center; font-size:14px; text-decoration:none; font-family:inherit; cursor:pointer; float:left; max-width:100%; behavior: url('/lib/pie/PIE.htc'); }
.backbtn:before 															 { background: #4bea8f; border: solid #33cb73; border-width: 0 0 1px 1px; border-radius: 2px 0 0px 0px; content: ''; display: block; height: 21px; left: -11px; position: absolute; top: 3px; -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); width: 21px; z-index:-1; behavior: url('/lib/pie/PIE.htc'); }
.backbtn:hover:before, .backbtn:focus:before, .backbtn:hover, .backbtn:focus { background: #2dad63; behavior: url('/lib/pie/PIE.htc'); }

.hbtn 															       		 { background: #4bea8f; border: solid #33cb73; border-width: 1px 1px 1px 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; display: inline-block; height: 40px; line-height: 28px; margin-left: 30px; margin-right: 2px; margin-top:10px; padding: 0 7px 0 7px; position: relative; text-decoration: none; color:white; text-align: center; font-size:14px; text-decoration:none; font-family:inherit; cursor:pointer; float:right; max-width:100%; behavior: url('/lib/pie/PIE.htc'); }
.hbtn:hover, .hbtn:focus                                                     { background: #2dad63; behavior: url('/lib/pie/PIE.htc'); }
