/*
 * Description: Stylesheet to use all buttons system-wide
 * Last Updated: 6/11/2014
 * Signature: Tyler Nickerson
 * Copyright 2014 eDart
 *
 * [Do not remove this header. One MUST be included at the start of every page/script]
 *
 */

.button_list	{ padding-left:0px !important; }
.button_list li { margin-top:0.5em !important; }

/* Generic round buttons */
.button_primary 		{ text-align:center; position:relative; top:1px; display:inline-block; font-size:1em; font-weight:bold; outline:none; cursor:pointer; padding:6px 24px; text-decoration:none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; transition:0.5s; -webkit-transition:0.5s; -moz-transition:0.5s; behavior: url('/lib/pie/PIE.htc');  }
.button_primary:hover { color:white; transition:0.5s; -moz-transition:0.5s; -webkit-transition:0.5s; }

/* Yellow round buttons */
.button_primary.yellow			{ background: #F4D03F; color: #FFF; border: 1px solid #F7CA18; }
.button_primary.yellow:hover	{ background:#F5D76E; }
.button_primary.yellow:disabled { background: #E2D089; color: #AAAA6C; border: 1px solid #C5AF55; }

/* Green round buttons */
.button_primary.green 			{ color:white !important; background-color:#26C281; border:1px solid #14B696; }
.button_primary.green:hover 	{ background-color:#3CE29D; }
.button_primary.green:disabled 	{ background:#83C59F !important; }

/* Blue round buttons */
.button_primary.blue				{ color:white !important; background-color:#3498DB; border:1px solid #4183D7; }
.button_primary.blue:hover 		{ background-color:#54BAFF; }
.button_primary.blue:disabled 	{ background:#7697AC !important; border:1px solid #4183D7; }

/* Red round buttons */
.button_primary.red				{ color:white !important; background-color:#E74C3C; border:1px solid #D91E18; }
.button_primary.red:hover 		{ background-color:#FF5544; }
.button_primary.red:disabled 	{ background:#7697AC !important; border:1px solid #4183D7; }

/* The "Return to Feed/Home" button */
.button_back 																	 { background: #3FE29E; border:1px solid #2FBD81; border-width: 1px 1px 1px 0; -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; display: inline-block; line-height: 28px; margin-left: 30px; margin-right: 2px; margin-top:14px; padding: 0 7px 0 3px; position: relative; text-decoration: none; color:white; text-align: center; font-size:14px; text-decoration:none; font-family:inherit; cursor:pointer; float:left; max-width:100%; behavior: url('/lib/pie/PIE.htc'); }
.button_back:before 															 { background: #3FE29E; border:1px solid #2FBD81; border-width: 0 0 1px 1px; border-radius: 2px 0 0px 0px; content: ''; display: block; height: 21px; left: -11px; position: absolute; top: 3px; -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); width: 21px; z-index:-1; color:white; behavior: url('/lib/pie/PIE.htc'); }
.button_back:hover:before, 
.button_back:focus:before, 
.button_back:hover, 
.button_back:focus { color:white; background: #269C6A; behavior: url('/lib/pie/PIE.htc'); }

.important { font-size:1.2em !important; line-height:2em; }

.button_validate 															       		 { color:white; background: #3FE29E; border:1px solid #2FBD81; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; display: inline-block; line-height: 28px; margin-left: 30px; margin-right: 2px; margin-top:14px; padding: 0 7px 0 7px; position: relative; text-decoration: none; color:white; text-align: center; font-size:14px; text-decoration:none; font-family:inherit; cursor:pointer; float:right; max-width:100%; behavior: url('/lib/pie/PIE.htc'); }
.button_validate:hover, .button_validate:focus                                           { color:white; background: #269C6A; behavior: url('/lib/pie/PIE.htc'); }
