/* 
 * Description: Stylesheet to use on the exchange page
 * Last Updated: 6/11/2014
 * Signature: Tyler Nickerson
 * Copyright 2014 eDart 
 * 
 * [Do not remove this header. One MUST be included at the start of every page/script] 
 * 
 */

#alertbox								{ font-size:14px; padding:10px;}
/* Master container */
#xchgapp 								{ background:white; height:100%; display:block; width:100%; position:fixed; }
#xchgapp .head 							{ margin-top:5px; font-family:VegurRegular, Trebuchet MS, sans-serif; color:#2b2b2b; font-size:18px; margin-bottom:10px; text-align:left; }
#xchgapp .xchgbx 						{ background:transparent; color:#C8FFE9; border:none; text-align:center; font-family:VegurRegular, sans-serif; padding:10px; }
/* The main chat panel */
#xchgapp #chatpnl						{ width:35%; z-index:200; position:fixed; background:#26C281; right:0px; top:0px; overflow:hidden; float:right; border:1px solid #0961D3; border-left:0px solid black; height:100%; }
#xchgapp #chatpnl a 					{ color:white; }
#xchgapp #chatpnl #chtxt 				{ font-family:VegurLight, Trebuchet MS, sans-serif; }
#xchgapp #chatpnl .msg					{ min-height:75px; width:100%; overflow:hidden; position:relative; border-bottom:1px solid #3BA579; margin-top:10px; }
#xchgapp #chatpnl .msg .inner			{ padding:10px; }
#xchgapp #chatpnl .msg .pic				{ width:75px; height:75px; box-shadow:0px 1px 2px black; }
#xchgapp #chatpnl .msg .holder			{ display:inline-block; cursor:default; position:absolute; width:100%; top:10px; }
#xchgapp #chatpnl .msg .img_wrap 		{ cursor:pointer; height:75px; display:inline-block; margin-right:10px; }
#xchgapp #chatpnl .msg .title			{ color:white; font-size:18px; margin:0px; margin-bottom:5px; }
#xchgapp #chatpnl .msg .body			{ text-indent:15px; color:white; margin:0px; overflow:hidden; width:100%; font-size:12px; }
#xchgapp #chatpnl .msg .date 			{ font-size:11px; position:absolute; bottom:0px; right:0px; margin:10px; color:#B6FFE1; }

/* The send message box */
#xchgapp #msgtxt 						{ outline:none; border:none;font-size:16px;position:absolute;bottom:0px;width:100%; } 
#xchgapp #msgtxt:hover 					{ box-shadow:none; -webkit-box-shadow:none; border:none; } 

/* The container for all other widgets (below the map) */
#xchgapp  #cont							{ margin-top:1px solid #808080; padding-left:10px; position:relative; width:63%; overflow:auto; height:100%; vertical-align:top; display:inline-block; }
#xchgapp  #cont .hdr					{ color:#2b2b2b; font-family:Trebuchet MS; padding-top:20px; font-size:32px; }

/* The date selector table */
#xchgapp #cont td 						{ color:black; font-size:14px; text-align:right; padding:10px; }
#xchgapp #cont td span 					{ color:dimgray; display:inline-block; padding-left:4px; }

#xchgapp #cont .odd  					{ color:#404040; }
#xchgapp #cont .even 					{ background:#2ecc71; }
#xchgapp #cont .even td 				{ color:white; }
#xchgapp #cont .time_hcell 				{ font-size:12px; }

#xchgapp #cont .selected 				{ background:#F5DA81; }
#xchgapp #cont .selected:hover 			{ background:#F5DA81 !important; }

#xchgapp #cont .bright 					{ background:#22864B; }
#xchgapp #cont .bright:hover 			{ background:#22864B !important; }

#xchgapp #cont .faded 					{ background:#7ACE9D; }

#xchgapp #cont .timecell 				{ cursor:pointer; }
#xchgapp #cont .timecell:hover 			{ background:#33E46D; }

/* The Google map and its accompaning text */
#xchgapp #map-overlay 					{ position:fixed; z-index:1; width:65%; height:40%; background:url('/img/transb.png'); display:none; color:white; font-size:48px; text-align:center; font-family:VegurLight, Trebuchet MS, sans-serif; }
#xchgapp #map-txt						{ position:absolute !important; height:25px; width:100%; text-align:center; display:block; top:auto; font-size:25px; color:white; z-index:1; bottom:10px; cursor:pointer; }

/* The table allowing for users to be ranked */

#xchgapp #cont #ratetable 				{ margin-top:10px; margin-left:10%; width:75%; }
#xchgapp #cont #ratetable td 			{ padding:2px; }

#xchgapp #cont #ratetable #moreinfo 	{ width:100%; height:75px; font-size:12px; font-family:Lucida Grande,Tahoma,sans-serif; margin-top:10px; resize:none; }
#xchgapp #cont #ratetable #skiptext 	{ color:dimgray; font-size:11px; padding:10px; cursor:pointer; text-align:center; }
#xchgapp #cont #ratetable #rtstat		{ color:dimgray; }

#xchgapp #cont #ratetable .ranktbl		{ border-spacing:0px; width:100%; height:20px; }
#xchgapp #cont #ratetable .bar 			{ padding:1px; cursor:pointer; height:45px; width:25px; }
#xchgapp #cont #ratetable .highlighted 	{ background:#65C79E; }
#xchgapp #cont #ratetable .ltxt 		{ text-align:right; font-family:VegurRegular, sans-serif; font-size:20px;  padding-right:10px; color:dimgray; }

/* Countdown to meetup/pickup */
#xchgapp #cont #cntdwn					{ color:#2b2b2b; display:block; position:relative; margin:0 auto; text-align:center; font-size:100px; }

