

/*
.inpt { padding:0px; font-size:20px; padding:5px 0px 5px 0px;}
#supnl { width:100%; padding-left:0px;  border-radius:0px; }
#supnl h1 { color: #404040; font-size: 75px; }
#supnl h2 { float: right; color: #606060; }
#supnl h3 { float: left; color: red; font-size:9px; }
#supnl table { padding:0px; margin:0px; }
#supnl #sufrm { color:#2b2b2b; }
#over { display:none; }
#mcont { display:none; }

#mc_cont { width:95%; }
#mc      { width:95%; padding:0px; }
#mc p 	 { padding:0px 20px 0px 20px; font-size:14px; }
#mc ul	 { font-size:14px; margin-left:10px; padding-right:20px;}
#report_form { width:100% !important; margin:10px 0px 0px 20px !important;}
#report_form input { font-size:14px !important;}
.align   { width:100% !important; margin:0px !important; }
.norm 	{ font-size:30px; }

#iurl { width:150px; }
#acat { width:250px; display:block ;}
#achktxt { font-size:11px; width:250px; }
#achkhold input { margin-top:-10px; }

#feed_cont #feed #newest { display:none !important; }
#feed_cont #feed #left { display:none; }
#feed_cont #feed #right { width:100%; }

#feed_cont { width:100% !important; padding:0px; margin:0px; }
#feed_cont #feed { margin:0px; padding:0px; padding-top:10px; padding-bottom:10px; border:none;}
#feed_cont #feed .post { margin:0px; width:100%;}
#feed_cont #feed .post .cocnt { width:200px;}

#banner #logo { width:125px; margin-top:15px;}

#banner #hfrm #headsearch { display:none; }
#banner { min-width: 100%;}
*/
