#home_container 						{ padding:2em 0 5em 0; overflow:hidden; white-space:normal; position: relative; background:black; background:transparent; background:rgba(0,0,0,0.4); width:100%; height:100%; display:block; }
#home_container h1 						{ font-weight:bold; line-height:1.1em; color:white; font-family: TitilliumBold, sans-serif; font-size:4.2em; margin-top:10px;  }
#home_container ul						{ padding:0; padding-bottom:1em; padding-left:1em; color:white; list-style:none; font-size:1.4em; }
#home_container ul li					{ margin-top:1.5em; }
#home_container ul li i					{ width:1.5em; font-size:1.5em; margin-top:-0.2em; }
#home_container ul li span				{ font-size:1.1em; font-weight:bold; }

#home_container #signup input			{ font-size:20px; width:100%; }
#home_container #signup span			{ font-size:11px; color:white; }

#home_container #signup #signup_form	{ text-align: center; }

#home_container #signup #signup_form #pword,
#home_container #signup #signup_form #rpword
{ display:inline-block; width:48%; }

#home_container #signup #signup_form #pword  	{ float:left; }
#home_container #signup #signup_form #rpword 	{ float:right; }
#home_container #signup #signup_form #passwords { width:100%; display:table; }

#home_container #signup #geo_location			{ color:white; text-align: center; padding:10px; }
#home_container #signup #signup_submit			{ margin:0 auto; width:100%; display:block; }

#home_container #home_arrow  { color:gold; font-size:48px; text-align:center; display:none; }

@media (max-width: 978px) {
	#home_container h1 
	{ text-align:center; }
	 
	#home_container ul li i					
	{ margin-top:0em; }
}

@media (max-width: 400px) {
    #home_container #inner,
    #home_container,
    #home_container #inner #inner_right
    { width:100%; margin:0px; }

    #home_container #inner h1
    { font-size:40px; text-align:center; }

    #home_container table td
    { font-size:18px; }

    #home_container table td	span
    { font-size:20px; }

    #home_container #signup #signup_form
    { padding:10px; }

    #home_container #signup #geo_location
    { font-size:14px; }

    #home_container #home_arrow
    { display:block; }
}
