/*
 * Description: Stylesheet for every page
 * Last Updated: 6/22/2014
 * Signature: Tyler Nickerson
 * Copyright 2014 eDart
 *
 * [Do not remove this header. One MUST be included at the start of every page/script]
 *
 */


/* * * * * * * * * * * * * SYSTEM WIDE * * * * * * * * * * * * */

/* General stuffs */
html 			{ margin:0px; padding:0px; height:100%; width:100%; font-family: sans-serif; background:#26C281; }
body 			{ overflow:auto; margin:0px; padding:0px; font-size:14px; width:100%; height:100%; font-family:VegurRegular, sans-serif; background:#26C281; }
a 				{ text-decoration:none !important; color:black; cursor:pointer; }
p				{ white-space:normal; }
h1, h2 			{ margin: 0px; padding: 0px; font-family:VegurRegular, sans-serif; }
dd i 			{ width:1.5em; }
main 			{ padding:2em 0 2em 0; white-space:nowrap; width:100%; min-width:978px; display:block; overflow:hidden; background:#FAFAFA; }

div.layout-1200 		{ width:1200px; }
div.layout-978			{ width:978px; }

.panel						{ white-space:normal; }
.background					{ background:url("/img/bg.jpg") repeat center center; background-size:cover; }
.blur 						{ filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=2); text-shadow:0px 0px 10px black; color:transparent; }
.data_table 				{ display:block; margin:0 auto;  margin-top:20px; white-space:normal; }
.data_table td 				{ padding:10px; }
.data_table table td span 	{ color:dimgray; }
.data_table td img 			{ border-radius:4px; -webkit-border-radius:4px; border:1px solid dimgray; }
.valign_top	td				{ vertical-align:top; }
.valign_bottom	td  		{ vertical-align:bottom; }

/* Some alignment/sizing stuff */
.text_small 	{ font-size:1em !important; line-height:1em; }
.text_medium  	{ font-size:1.2em !important; line-height:1.2em; }
.text_large		{ font-size:4em !important; line-height:1em; }
.text_error		{ color:#E74C3C; }
.reset_padding	{ padding:0px !important; }
.reset_margin	{ margin:0px !important; }
.padding_small	{ padding:0px 10px 0px 10px; }

/* The splash loader on every page */

#loader 			{ background:#26C281; width:100%; top:0px; left:0px; height:100%; position: fixed; z-index:10000; }
#loader span 		{ color:white; display:block; width:100%; text-align:center; font-size:2em; margin-top:25%; }

/* Every textbox ever */
.hidden_input 															{ outline:none; border:none; cursor:pointer; width:100%; }
.hidden_input:focus														{ box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; -o-box-shadow:none; -webkit-box-shadow:none; border:none; }

input[type="text"], input[type="password"], textarea					{ box-sizing:border-box; font-size: 1em; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; outline:none; color: black; margin-top: 15px; text-align: center; font-family: VegurRegular, sans-serif !important; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; border-radius:4px; border:1px solid lightgray; transition-property:border; -webkit-transition:0.4s; -moz-transition:0.4s; -ms-transition:0.4s; -o-transition:0.4s; transition:0.4s; behavior: url('/lib/pie/PIE.htc'); }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus  { -o-transition-property:border; -moz-transition-property:border; -ms-transition-property:border; -webkit-transition-property:border; transition-property:border; -moz-box-shadow:0px 0px 4px skyblue; -ms-box-shadow:0px 0px 4px skyblue; -o-box-shadow:0px 0px 4px skyblue; -webkit-box-shadow:0px 0px 4px skyblue; box-shadow:0px 0px 4px skyblue;box-shadow:0px 0px 4px skyblue; border:1px solid skyblue; transition:0.4s; -moz-transition:0.4s; -webkit-transition:0.4s; }
input[type="search"]::-webkit-search-cancel-button 						{ -webkit-appearance: none; }

.datebox input		  { margin:0px; font-size:14px; }
.modal-dialog		  { white-space: normal; }

/* The banner notifications that sometimes appear at the top */
#notification 		 { width:100%; min-width:945px; height:60px; max-height:60px; top:0px; display:block; position:fixed; z-index:1500; overflow:hidden; background: #A9E2F3; color:white; font-family:VegurLight; text-align:center; font-size:20px; border-bottom:1px solid #81BEF7; }
#notification #inner { margin-top:20px;}
#notification #close { width:25px; height:25px; cursor:pointer; position: absolute; top:20px; right:10px ;}

/* * * * * * * * * * * * * THE BANNER * * * * * * * * * * * * */

/* The infamous green eDart banner */

#banner_placeholder 											{ height:50px; width:100%; }
#banner_placeholder #banner 									{ position:fixed; background: #26C281;  border-bottom:2px solid #43A37C; width:100%; height:50px; z-index:1000; }
#banner_placeholder #banner #inner 								{ width:978px; margin:0 auto; height:100%; max-height:60px; display:block; }

/* The eDart logo */
#banner_placeholder #banner #inner #logo						{ text-decoration:none; font-family:inherit; cursor:pointer; float:left; margin-top:14px; color:yellow; max-width:100%; width:80px; height:auto; }
#banner_placeholder #banner #inner #logo img 					{ width:100%; height:auto; display:block; }

/* The "So many users worldwide" text next to the logo */
#banner_placeholder #banner #inner #subtxt						{ float:left; margin-left:10px; display:inline-block; margin-top:18px; color:green; font-family: VegurLight; font-size:22px; }

/* The login box and accessories in the banner */
#banner_placeholder #banner #inner #loginbx						{ float:right; margin-right:20px; margin-top:0.7em; overflow:hidden; height:100%; }
#banner_placeholder #banner #inner #loginbx	input				{ margin:0px; }
#banner_placeholder #banner #inner #loginbx	a					{ font-size:12px; color:#C0FFE5;  margin-left:5px; }

#banner_placeholder #banner #inner #loginbx #un					{ float:left; margin-right:10px; }
#banner_placeholder #banner #inner #loginbx #pw					{ float:right; }

#banner_placeholder #banner #inner #loginbx .loginbtn    		{ color:white; font-size:35px; cursor:pointer; line-height:10px; margin-top:0px; margin-left:5px; float:right; }
#banner_placeholder #banner #inner #loginbx .loginbtn:hover 	{ color:yellow; }

#banner_placeholder #banner #inner #loginbx #cntlgnm 			{ width:350px; color:#39745B; padding-right:10px; font-size:12px; text-align:right; }

/* The profile info box in the banner (right hand corner) */
#banner_placeholder #banner #inner #infobox						{ float:right; font-weight:bold; margin-right:5px; color:white; }

/* The mini profile picture in the banner */
#banner_placeholder #banner #inner #minippic 					{ cursor:pointer; box-shadow:inset 0px 2px 4px rgba(0,0,0,0.3); overflow:visible; position:relative; border-radius:100px; -webkit-border-radius:100px; width:42px; height:42px; float:right; margin-top:5px; margin-right:5px; behavior: url('/lib/pie/PIE.htc'); }

/* The action buttons shown next to the mini profile panel in the banner */
#banner_placeholder #banner #inner #tooltips		  			{ z-index:200; text-align:center; float:left; margin-right:10px; margin-top:15px; }
#banner_placeholder #banner #inner #tooltips .icon				{ width:32px; height:45px; color:#1D865B; font-size:24px; cursor:pointer; position: relative;  }
#banner_placeholder #banner #inner #tooltips .icon:hover 		{ color:#166D49; }
#banner_placeholder #banner #inner #tooltips .icon .badge  		{ font-size:10px; min-width:10px; padding:3px; color:white; border-radius:100px; -webkit-border-radius:100px; -moz-border-radius:100px; -o-border-radius:100px; -ms-border-radius:100px; background:red; position: absolute; top:-6px; right:-2px; behavior: url('/lib/pie/PIE.htc'); }
#banner_placeholder #banner #inner .active						{ color:white !important; }
#banner_placeholder #banner #inner .static_active				{ color:white !important; }

/* The main search form */
#banner_placeholder #banner #inner #hfrm 						{ margin:0px; padding:0px; text-align:left; }

/* The main search box */
#banner_placeholder #banner #inner #hfrm #headsearch 									{ background:transparent; font-family:VegurLight, sans-serif; font-size:18px; font-weight:lighter; vertical-align:middle; color:white; outline:none; width:400px; margin-left:50px; margin-top:12px; display:inline-block; background:transparent !important; float:left; border:none; text-align:left; white-space:nowrap; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; }
#banner_placeholder #banner #inner #hfrm #headsearch input:focus						{ border:0; outline:0; box-shadow:none; -webkit-box-shadow:none; -o-box-shadow:none; -ms-box-shadow:none;  }
#banner_placeholder #banner #inner #hfrm #headsearch .dropdown							{ margin-top:15px !important; border-top:0 !important; min-width:100%; font-family:VegurLight, sans-serif !important; color:dimgray; }
#banner_placeholder #banner #inner #hfrm #headsearch .dropdown div						{ padding:10px; }

#banner_placeholder #banner #inner #hfrm #headsearch .placeholder						{ font-family:VegurLight, sans-serif; color: #1E885C; }
#banner_placeholder #banner #inner #hfrm #headsearch::-webkit-input-placeholder			{ font-family:VegurLight, sans-serif; color: #1E885C; }
#banner_placeholder #banner #inner #hfrm #headsearch:-ms-input-placeholder 				{ font-family:VegurLight, sans-serif; color: #1E885C; }
#banner_placeholder #banner #inner #hfrm #headsearch:-moz-placeholder 					{ font-family:VegurLight, sans-serif; color: #1E885C; opacity: 1; }
#banner_placeholder #banner #inner #hfrm #headsearch::-moz-placeholder 					{ font-family:VegurLight, sans-serif; color: #1E885C; opacity: 1; }
#banner_placeholder #banner #inner #hfrm #headsearch:focus::-webkit-input-placeholder 	{ color:transparent; }
#banner_placeholder #banner #inner #hfrm #headsearch::-webkit-search-cancel-button 		{ display:none; }

/* * * * * * * * * * * * * THE HOMEPAGE * * * * * * * * * * * * */

/* The main bullet point container on the homepage */
#mcont 				{ white-space:normal; min-width:442px; z-index:200; height:590px; background:url('/img/transb.png'); z-index:200; color: white; padding-left:50px; padding-top:10px; overflow:hidden; font-family:TitilliumLight, Trebuchet MS, sans-serif; }

/* The "For WPI Students..." text on the home screen */
#mcont #welcomehdr 	{ font-family:VegurLight, Verdana, sans-serif; color:white; font-size:55px; margin-top:20px; margin-bottom:10px; }

/* The main bullet table */
#mcont #bdtxt		{ margin-right:25px; max-width:800px; font-size:24px; }
#mcont #bdtxt td	{ padding:0px 0px 15px 15px; color:lightgray;  }
#mcont #bdtxt td b	{ color:white; }

/* The signup panel on the homepage */
#supnl 				{ white-space:normal; z-index:200; margin: 0px; margin-top: 25px; margin-bottom: 25px; height: 500px; padding: 10px; padding-right: 18px; margin-right:50px; float:left; display:inline-block; width: 400px; color: dimgray; background: url('/img/misty.png'); border:1px solid #EEEEEE; border-left:none; -webkit-border-top-right-radius: 25px; -moz-border-top-right-radius: 25px; -ms-border-top-right-radius:25px; -o-border-top-right-radius: 25px; border-top-right-radius: 25px; -webkit-border-bottom-right-radius: 25px; -moz-border-bottom-right-radius: 25px; -ms-border-bottom-right-radius:25px; -o-border-bottom-right-radius: 25px; border-bottom-right-radius: 25px; behavior: url('/lib/pie/PIE.htc'); }
#supnl h1 			{ color: dimgray; font-size: 100px; }
#supnl h2			{ float: right; color: gray; }
#supnl h3			{ float: left; color: red; font-size:9px; }

/* The location in the signup panel */

#supnl #geo_location	{ font-size:20px;height:50px; }

/* The link to the instructional video */
#movie_text 		{ font-size:18px; text-align:right; }
#movie_text .link 	{ display:inline-block; cursor:pointer; color:yellow; }

/* * * * * * * * * * * * * THE FOOTER * * * * * * * * * * * * */

/* The footer and its container */
footer				{ border-top:1px solid #3AA61C; overflow:hidden; z-index:900; width:100%; }
footer a 			{ text-decoration:none; color:white !important; }

/* The author name and copyright container */
footer section	{ color:white; position:relative; text-align:center; width:100%; height:auto; display:block; margin-bottom:10px; }

/* The links in the footer */
footer nav 		{ padding:0 1em 0 1em; display:block; text-align:center; margin-bottom:10px; cursor:pointer; font-size:14px; margin-top:15px; text-transform:uppercase; letter-spacing:2px; color:white; }

/* * * * * * * * * * * * * REPORT ITEM * * * * * * * * * * * * */

/* The report item form */
#report_form #iurl 		{ font-size:18px; width:400px; margin-bottom:10px; }
#report_form #acat 		{ font-size:18px; ; width:300px; }
#report_form #achktxt 	{ font-size:12px; display:inline-block; }
#report_form #achkhold 	{ margin-top:10px; }

/* * * * * * * * * * * ALL TEXT PLACEHOLDERS * * * * * * * * * * */

.placeholder 					{ color: #696969; }
::-webkit-input-placeholder		{ color: #696969; }
:-ms-input-placeholder 			{ color: #696969; }
:-moz-placeholder 				{ color: #696969; opacity: 1; }
::-moz-placeholder 				{ color: #696969; opacity: 1; }

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder
{ color: transparent; }

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder,
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder
{ color: transparent; }

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder
{ color: transparent; }

/* * * * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * */

@media (max-width: 400px) {
	body {
		font-size:12px; 
	}
	
	main
	{ min-width:100%; }
	
	
	#banner_placeholder #banner #inner {
		width:100%;
	}
}

@media (max-width: 1200px) {
	.layout {
		width:978px !important;
	}
}

@media (max-width: 978px) {
	.layout-1200 {
		width:100% !important;
	}
	
		.layout-978 {
		width:100% !important;
	}
}
