/*
 * Description: Stylesheet for the banner dropdowns
 * Last Updated: 6/20/2014
 * Signature: Tyler Nickerson
 * Copyright 2014 eDart
 *
 * [Do not remove this header. One MUST be included at the start of every page/script]
 *
 */

 /* * * THE OPTIONS DROPDOWN * * */

.tip {
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 17px solid #F8F8F8;
	margin-top:5px;
	margin-left:2px;
	display:block;
	position:absolute;
	top:-20px;
	right:10px;
	z-index: 2000;
}

#banner_placeholder #banner #infobox h6 																	{ color:gray; margin:10px; font-size:0.6em; text-align:center; font-family:VegurLight, sans-serif; }
#banner_placeholder #banner #infobox .menu 																	{ display:none; background:white;  z-index:999; box-shadow:0px 0px 4px dimgray; behavior: url('/lib/pie/PIE.htc'); }

/* The main container */
#banner_placeholder #banner #infobox #options_menu 															{ display:none; width:150px; height:auto; position:absolute; right:0px; top:30px; }
#banner_placeholder #banner #infobox #options_menu:hover													{ display:block; }

/* Its list elements */
#banner_placeholder #banner #infobox #options_menu ul 														{ list-style:none; background:white; margin:0px; padding:10px;  }
#banner_placeholder #banner #infobox #options_menu ul li 													{ cursor:pointer; text-align:right; font-size:12px; color:#2b2b2b; padding:2px; font-family:Trebuchet MS, Arial, sans-serif; }
#banner_placeholder #banner #infobox #options_menu ul li:hover, #banner_placeholder #banner #infobox #options_menu li a:hover 	{ color:royalblue !important;}
#banner_placeholder #banner #infobox #options_menu ul li a 													{ margin:0px; text-decoration:none; padding:0px; color:#2b2b2b; }

/* The divider in the menu */
#banner_placeholder #banner #infobox #options_menu .divide 													{ height:1px; width:90%; margin:0 auto; display:block; background:lightgray; margin:10px; }

 /* * * THE TRANSACTION DROPDOWN * * */

/* The main container */
#banner_placeholder #banner #infobox #exchange_menu 											{ text-align:left; margin-top:18px; right:-6px; width:500px; position:absolute;  }
#banner_placeholder #banner #infobox #exchange_menu:hover										{ display:block; }

#banner_placeholder #banner #infobox #exchange_menu h1 											{ line-height:1em; background:#F8F8F8; text-align: right; font-size:0.65em; padding-top:10px; font-family: VegurLight, sans-serif; padding-bottom:5px; color:dimgray; border-bottom: 1px solid #eee; padding-right:10px; }

#banner_placeholder #banner #infobox #exchange_menu #container 									{ max-height:300px; overflow:auto; display:block; width:100%; height:100%; }

/* The divider in the menu */
#banner_placeholder #banner #infobox #exchange_menu .divide 									{ height:1px; width:90%; margin:0 auto; display:block; background:lightgray; margin:10px; }

#banner_placeholder #banner #infobox #exchange_menu .exchange 						 			{ border-bottom:1px solid #eee; cursor:pointer; width:100%; overflow:hidden; color:#bbbbbb; font-family:VegurRegular, sans-serif; }
#banner_placeholder #banner #infobox #exchange_menu .exchange .content:hover					{ background:#f7f7f7; }
#banner_placeholder #banner #infobox #exchange_menu .exchange .content 							{ padding:20px; }
#banner_placeholder #banner #infobox #exchange_menu .exchange .content .text 					{ display:inline-block; }
#banner_placeholder #banner #infobox #exchange_menu .exchange .content .text .title .primary	{ color:black; }
#banner_placeholder #banner #infobox #exchange_menu .exchange .content .text .title 			{ font-size:16px; }
#banner_placeholder #banner #infobox #exchange_menu .exchange .content .text .sub   			{ margin-left:25px; margin-top:2px; font-size:14px; color:#808080; }
#banner_placeholder #banner #infobox #exchange_menu .exchange .content .icon   					{ display:inline-block; float:left; font-size:28px; margin-right:10px; margin-top:20px; }

#banner_placeholder #banner #infobox #exchange_menu .exchange .content .uk-icon-check					{ color:green; }
#banner_placeholder #banner #infobox #exchange_menu .exchange .content .uk-icon-refresh					{ color:orange; }
#banner_placeholder #banner #infobox #exchange_menu .exchange .content .uk-icon-clock-o					{ color:royalblue; }
#banner_placeholder #banner #infobox #exchange_menu .exchange .content .uk-icon-exclamation-circle		{ color:red; }

 /* * * THE NOTIFICATION DROPDOWN * * */

/* The main container */
#banner_placeholder #banner #infobox #notification_menu 											{ text-align:left; margin-top:18px; right:-6px; position:absolute; width:500px; }
#banner_placeholder #banner #infobox #notification_menu:hover										{ display:block; }

#banner_placeholder #banner #infobox #notification_menu h1 											{ line-height:1em; background:#F8F8F8; line-height:1em; text-align: right; font-size:16px; padding-top:10px; font-family: VegurLight, sans-serif; padding-bottom:5px; color:dimgray; border-bottom: 1px solid #eee; padding-right:10px; }

/* Its list elements */
#banner_placeholder #banner #infobox #notification_menu ul 											{ list-style:none; border:1px solid white; margin:0px; padding:10px; }
#banner_placeholder #banner #infobox #notification_menu ul li 										{ cursor:pointer; text-align:right; font-size:12px; color:#2b2b2b; padding:2px; font-family:Trebuchet MS, Arial, sans-serif; }
#banner_placeholder #banner #infobox #notification_menu ul li:hover, #notification_menu li a:hover	{ color:royalblue !important;}
#banner_placeholder #banner #infobox #notification_menu ul li a 									{ margin:0px; text-decoration:none; padding:0px; }

#banner_placeholder #banner #infobox #notification_menu #container 									{ max-height:300px; overflow:auto; display:block; width:100%; height:100%; }

/* The divider in the menu */
#banner_placeholder #banner #infobox #notification_menu .divide 	{ height:1px; width:90%; margin:0 auto; display:block; background:lightgray; margin:10px; }

#banner_placeholder #banner #infobox #notification_menu .notification 						 		{ border-bottom:1px solid #ddd; cursor:pointer; width:100%; overflow:hidden; color:#bbbbbb; font-family:VegurRegular, sans-serif; }
#banner_placeholder #banner #infobox #notification_menu .notification .content:hover				{ background:#f7f7f7; }
#banner_placeholder #banner #infobox #notification_menu .notification .content 						{ padding:20px; }
#banner_placeholder #banner #infobox #notification_menu .notification .content .text 				{ display:inline-block; color:#2b2b2b; width:400px; }
#banner_placeholder #banner #infobox #notification_menu .notification .content .text .title .primary{ color:black; }
#banner_placeholder #banner #infobox #notification_menu .notification .content .text .title 		{ font-size:16px; }
#banner_placeholder #banner #infobox #notification_menu .notification .content .text .date   		{ margin-left:25px; margin-top:2px; font-size:12px; color:#696969; text-align:right; }
#banner_placeholder #banner #infobox #notification_menu .notification .content .icon   				{ display:inline-block; float:left; color:green; font-size:12px; margin-right:10px; margin-left:10px; margin-top:10px; }

 /* * * THE CONTROL PANEL * * */

/* The main container */
#banner_placeholder #banner #infobox #control_panel 															{ display:none; min-width:15em; height:auto; position:absolute; padding:10px; right:0px; top:56px; }
#banner_placeholder #banner #infobox #control_panel:hover														{ display:block; }
#banner_placeholder #banner #infobox #control_panel .tip														{ border-bottom: 5px solid white; border-left-width:15px; border-right-width:15px; margin-top:15px; }

/* Its list elements */
#banner_placeholder #banner #infobox #control_panel h1 															{ font-size:1.5em; text-align:center; color:#696969; }
#banner_placeholder #banner #infobox #control_panel h2 															{ font-size:1em; text-align:center; color:gray; }

#banner_placeholder #banner #infobox #control_panel ul li 														{ cursor:pointer; text-align:center; font-size:0.9em; color:#2b2b2b; padding:2px; }

/* The divider in the menu */
#banner_placeholder #banner #infobox #control_panel .divide 													{ height:1px; width:90%; margin:0 auto; display:block; background:lightgray; margin:10px; }
