/* 
 * Description: Stylesheet to use on user
 * Last Updated: 6/11/2014
 * Signature: Tyler Nickerson
 * Copyright 2014 eDart 
 * 
 * [Do not remove this header. One MUST be included at the start of every page/script] 
 * 
 */

/* The main container */
#profile_container 			{ background:white; display:block; min-height:100%; white-space: nowrap; }
#profile_container h3		{ color:white;  font-size:50px; margin:0px;}
#profile_container h4		{ color:white; font-weight:bold; margin-bottom:0px; margin-left:20px; font-size:18px;}
#profile_container h5		{ color:#A4FF95; max-width:250px;white-space:normal;margin-top:10px;margin-bottom:0px;margin-left:40px;}
#profile_container h6		{ color:black; font-size:32px; margin:0px; margin-bottom:4px; padding:0px;  font-family:Trebuchet MS; font-family:VegurLight, sans-serif;}
#profile_container span		{ color:dimgray;padding-right:5px;cursor:default;font-size:18px;float:left; }

#profile_container #links 		{ font-family:VegurLight, sans-serif; }
#profile_container #links		{ width:420px; overflow:hidden; background:#2ecc71; float:left; display:block; position:fixed; border-left:0px solid black; height:100%; margin-top:-1px; z-index:1000; color:white; }
#profile_container #links a   	{ color:white; }

/* Placeholder for the side navigation */
#profile_container #linkhold { width:420px;position:relative;height:1px;display:inline-block;float:left; }

/* The main user profile. Not sure why this needs to be here BUT IT DOES */
#profile_container #myprofile				{ overflow:hidden; }
#profile_container #myprofile h6 			{ font-size:48px; }

#profile_container #myprofile #user_info	{ background:red; height:50px; width:100px;}

/* The thing that holds everything */
#profile_container #user_profile			{ width:700px; display:inline-block; height:auto; overflow:hidden; margin-left:10px; padding-right:10px; position:relative; }

/* The profile picture */
#profile_container #profpic		        { position:relative;margin-right:10px;width:200px;margin-top:0px;margin-bottom:10px;float:left;overflow:hidden;} 
#profile_container #profpic #pic		    { position:relative; }
#profile_container #profpic #pic img       { margin:0px;padding:0px; }

/* User comments header */
#profile_container #ucmnthd							{ float:left; color:#2b2b2b; display:block; font-size:48px; margin-top:10px;  }

/* User comments section */
#profile_container #cmntcont					{ float:left; clear:both; width:70%; display:block;margin:0 auto; word-wrap:break-word;height:40%; overflow:hidden; white-space:normal; }

/* Subtext for the user comments section */
#profile_container #cmntcont #theinnerring .urvs_subtxt 	{ float:left; margin-left:150px; color:dimgray; }

.cmnt					{ min-height:50px; display:block; border-bottom:1px solid #A9E2F3; }
.cmnt .cmt				{ text-align:center; font-size:32px; padding:10px;}

.iconset				{ display:block; color:dimgray; text-align:center; font-size:12px; vertical-align:middle;font-margin:0 auto;}
.iconset img			{ width:16px;padding:10px;}
.iconset .icon			{ vertical-align:middle; }

#profile_container #biotxt			{ background:none; -moz-appearance:none; -webkit-appearance:none; outline:none; border-width:0px; width:45%; resize:none; height:300px; font-family:Trebuchet MS, sans-serif; font-family:"VegurRegular"; margin-left:10px;margin-top:0px; color:black;font-size:18px;padding:0px; overflow:auto; white-space:normal;}

#profile_container #rating_bar_cont { margin-bottom:5px;width:200px;padding:1px;height:5px;overflow:hidden;background:#808080; }
#profile_container #rating_bar_cont #rating_bar { height:100%; }
#profile_container #rating_bar_cont .red { background: red;}
#profile_container #rating_bar_cont .green { background: green;}
#profile_container #rating_bar_cont .yellow { background: yellow;}
